@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Barlow', sans-serif;
    color: hsl(0, 0%, 100%);
    background-color: black;
}

.container {
    padding: 2rem 1rem;
}

.description {
    padding: 3rem 0rem;
}

.header-list {
    display: flex;
    list-style-type: none
}

.header-link {
    text-decoration: none;
    font-size: 13px;
    color: hsl(0, 0%, 100%);
    padding: 16px 35px;
    border-radius: 30px;
}

.header-link:hover {
    background-color: hotpink;
    color: #f1f1f1;
    transition: all 0.2s ease-in-out;
}

.tempimg:hover {
    opacity: 0.8;
    border: 5px solid orange;

}

.see-more {
    padding: 12px 30px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
}

.see-more:hover {
    background-color: hotpink;
    transition: all 0.3s ease-in-out;
    color: #f1f1f1;
}

.heade-link:hover {
    background-color: inherit;
    border: 2px solid hotpink;
    color: #f1f1f1;
    transition: all 0.2s ease-in-out;
}

.tempimg {
    height: 200px;
    border-radius: 15px;
    transition: all 0.1s ease-in-out;
}

.template {
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
    gap: 10px;
}

article {
    padding: 0rem 2rem;
    background-color: black;
    color: white;
    display: flex;
    /* height: 80vh; */
    justify-content: space-between;
}

footer {
    background-color: #0c0c0c;
    height: 280px;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Heebo', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
}

.head-link {
    text-decoration: none;
    color: white;
    background-color: hotpink;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 15px;

}

.head-link:hover {
    background-color: inherit;
    border: 2px solid hotpink;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.heade-link {
    text-decoration: none;
    font-size: 13px;
    color: hsl(0, 0%, 100%);
    padding: 16px 35px;
    border-radius: 30px;
}

.dropdown {
    position: relative;
    background-image: url(icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 15px top 10px;
    cursor: pointer;
}

.dropdown:hover {
    transition: all 0.3s ease-in-out;
    background-image: url(icon-arrow-up.svg );
}

.dropdown-items {
    display: none;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    color: black;
}

.fontawesomes {
    color: white;
    padding: 10px;
    width: 40px;
    /* border: 2px solid white; */
    background-color: rgb(160, 0, 80);
    border-radius: 20px;
}

.fontawesomes:hover {
    border: 2px solid rgb(160, 0, 80);
    color: rgb(160, 0, 80);
    background-color: inherit;
}

.dropdown-items-t {
    display: none;
    padding: 1rem;
    border-radius: 5px;
    background-color: black;
    width: 300px;
    color: white;
}

.foot-lists {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.dropdown-text {
    display: flex;
    /* justify-content: space-between; */
    font-weight: bold;
    gap: 10px;
}

.dropdown:hover .dropdown-items-t {
    display: block;
    position: absolute;
    right: 0;
    top: 2.3rem;
}

.dropdown:hover .dropdown-items {
    display: block;
    position: absolute;
    right: 0;
    top: 2.3rem;
}

.box-link {
    padding: 5px 17px;
    background-color: gray;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.icons-s {
    padding: 5px;
    background-color: gray;
    text-align: center;
    color: white;
    border-radius: 100%;
}

.icons-s:hover {
    background-color: inherit;
    border: 1px solid gray;
    color: gray;
}

.manage {
    width: 328px;
    padding: 3px 8px 31px 9px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}

section {
    background-color: #363636;
    padding: 2rem 1rem;
    /* height: fit-content; */
    color: white;
    border-radius: 20px;
}

.box-link:hover {
    background-color: #4c4b4b;
    transition: all 0.3s ease-in-out;
    color: #f1f1f1;
}

.justify {
    display: flex;
    justify-content: space-between;
}

header {
    width: 100%;
    height: fit-content;
}

.profile-name {
    font-size: 5rem;
    font-weight: 500;
}

.p {
    opacity: 0.8;
    line-height: 1.5;
}

.br {
    display: none;
}

.brn {
    display: block;
}

.media-link {
    display: none;
}

@media screen and (max-width:800px) {
    .header-list {
        /* display: none; */
        flex-direction: column;
    }

    .box-link {
        display: none;
    }

    .brn {
        display: none;
    }

    .dropdown {
        background-image: none;
    }

    .dropdown:hover {
        background-image: none;
    }

    .heade-link {
        font-size: 30px;
        display: block;
        border-radius: 0;
    }

    .dropdown-items {
        /* height: fit-content; */
        /* height: 70vh; */
        color: white;
        padding: 0;
        width: 300px;
        background-color: #0c0c0c;
    }

    .mediadropdown-items {
        display: none;
        padding: 1rem;
        border-radius: 5px;
        background-color: black;
        width: 280px;
        box-shadow: 3px 3px 10px #1a1a1a;
        color: white;
        z-index: 1;
        /* max-width: fit-content; */
    }

    .mediadropdown-items-t {
        display: none;
        padding: 1rem;
        border-radius: 5px;
        background-color: white;
        width: 250px;
        box-shadow: 3px 3px 10px #1a1a1a;
        color: black;
        z-index: 1;
        /* max-width: fit-content; */
    }

    .mediadropdown:hover .mediadropdown-items-t {
        display: block;
        position: absolute;
        left: 0;
        top: 2.3rem;
    }

    .mediadropdown:hover .mediadropdown-items {
        display: block;
        position: absolute;
        left: 0;
        top: 2.3rem;
    }

    .mediadropdown {
        position: relative;
        cursor: pointer;

    }

    .mediadropdown:hover {
        transition: all 0.3s ease-in-out;
    }

    .dropdown:hover .dropdown-items {
        top: 1.3rem;
    }

    .br {
        display: block;
    }

    .header-list {
        flex-direction: column;
        /* gap: 1rem; */
    }

    section {
        padding: 1rem 1rem;
        width: 100%;
        background-color: #1a1a1a;
    }

    footer {
        background-image: url(bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: black;
    }

    .header-link {
        font-size: 30px;
        display: block;
        border-radius: 0;
    }

    .p {
        opacity: 1;
        line-height: 1.7;
    }

    .media-link:hover {
        background-color: #1a1a1a;
        color: #f1f1f1;
        transition: all 0.2s ease-in-out;
    }

    .media-link {
        display: block;
        padding: 1rem 2rem;
        text-decoration: none;
        text-align: center;
        color: white;
        border-radius: 30px;
        background-color: #363636;
    }

    article {
        flex-direction: column;
    }

    .head-link {
        display: none;
    }

    .profile-name {
        font-size: 3rem;
    }

    .justify {
        flex-direction: column-reverse;
    }
}